div.success{
    background-color: #408450;
    text-align: center;
    color: white;
    width: 50%;  
    margin:20px auto;
    padding: 10px;
}

.books.cards{
    padding: 0 !important;
}

.books> h3{
    margin-top: 30px;
    font-size: 30px;
    font-family: 'Lato' !important;
}

.sidebar{
    background-color: #431B01 !important;
    color:white !important;
}


.card .image img{
    height: 200px;
    min-height: 200px;
    max-height: 200px;
    width:200px;
}

.logo{
    width: 150px;
    float: left;
    margin-top:17px;
    margin-bottom: 10px;
    border-radius: 100px;
}
body.ui.container{

}
.logoContainer{
/*     float: left; */
/*     width: 400px; */
}

.logoContainer p{
    margin-top: 20px;
    margin-left: 150px;
    font-size: 24px;
}


/* styling for login page */

#loginHeader , #registerHeader{
    width: 100%;
    background-color: #5BBD72;
    color: #ffffff;
    margin-bottom:5px;
}


@media only screen and (max-width : 468px ) {
    #loginBody , #registerBody {
        margin: 0px;
        width: 100% !important;
    }

}

#loginBody div.label{

    background-color: #408450;
    color: #fff;
}

#loginBody, #registerBody {
    margin-top:150px;
    margin-bottom: 100px;
    width: 40%;
}
/* end */

.directory.grid{
    margin: 0 150px;
}

.directory li{
    list-style-type: none;
}

.directory h3{
    text-decoration: underline;
}

footer{

    margin-top:30px;
    background-color: #5BBD72;
    color:white;
    width: 100%;
    bottom:0 !important;
    
}

footer p{
    text-align: center;
    font-size: 24px;

    padding: 30px;
}


.searchHeader{
    margin: auto;
}

.directory.menu{
    height: 60px;
}

.directory.menu input{
    width: 400px;
   
}
h1{
    margin-top:30px !important;
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    font-family: sans !important;
}
.ui.menu {

    margin: 0;
    padding: 0 !important;
    border: none;
   
}

.pusher{
    margin-left: 210px !important;
}

.pusher div.ui.grid{
   margin: 20px;
}

.pusher .bannerImage{
    max-height: 350px !important;
}

.sidebarProfileName{
    font-size: 24px;

}

.sidebarHeader{
    font-weight: 500 !important;
    font-size: 18px;
}

.ui.menu .header{
    background-color: #408450 !important;
    color:white;
}

.ui.menu {
    background-color:  #5BBD72;  
    width: 100%;
}

.ui.menu .dropdown{
    color:white;
}

.addBook{
    width:50%;
    margin: auto;
}

.postImagePreview img{
    height: auto;
    width: 100%;
    float: left;
    margin-left: 5px;
}
